@import "variables";
@import "mixins";
@import "header";
@import "main_goods";

* {
  box-sizing: border-box;
}

body,
p,
h3 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}
